.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    background: #111827;
    color: white;
}

.logo {
    margin: 0px;
}

.logout-btn {
    background: #ef4444;
    color: white;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 4px;
}